.footer{
  height: 80vh;
  width: 100%;
  background-color: transparent !important;
  background-image: url("footer.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.footer_content{

}